In [4]:
import pandas as pd
users=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep="|")
users.set_index("user_id",inplace=True)
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

See the first 10 and last 10 entries

In [29]:
users.head(10),  users.tail(10)

(         age gender     occupation zip_code
 user_id
 1         24      M     technician    85711
 2         53      F          other    94043
 3         23      M         writer    32067
 4         24      M     technician    43537
 5         33      F          other    15213
 6         42      M      executive    98101
 7         57      M  administrator    91344
 8         36      M  administrator    05201
 9         29      M        student    01002
 10        53      M         lawyer    90703,
          age gender     occupation zip_code
 user_id
 934       61      M       engineer    22902
 935       42      M         doctor    66221
 936       24      M          other    32789
 937       48      M       educator    98072
 938       38      F     technician    55038
 939       26      F        student    33319
 940       32      M  administrator    02215
 941       20      M        student    97229
 942       48      F      librarian    78209
 943       22      M        student    77841)

What is the number of observations in the dataset?

In [17]:
len(users)

943

What is the number of columns in the dataset?

In [18]:
len(users.columns)

4

Print the name of all the columns.

In [14]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

How is the dataset indexed?

In [21]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

What is the data type of each column?

In [19]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.8+ KB

Print only the occupation column

In [24]:
users.occupation

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [22]:
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

How many different occupations are in this dataset?

In [45]:
occur=users.groupby(['occupation']).size().count()
display(occur)

21

What is the most frequent occupation?

In [57]:
occur=users['occupation'].mode()
display(occur)

0    student
Name: occupation, dtype: object

DataFrame Info.

In [5]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.8+ KB

Describe all the columns

Summarize only the occupation column

In [26]:
users['occupation'].info

<bound method Series.info of user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object>

What is the mean age of users?

What is the age with least occurrence?